<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Techmond accesorios</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;">Bienvenidos a Techmond accesirios, somos... </h3>
<section id="about-us">
  <div class="container">
    <h2>Quiénes Somos</h2>
    <p>Todo lo que necesitas en un solo lugar</p>
    <p>El proyecto consiste en desarrollar una plataforma de comercio electrónico (e-commerce) dedicada exclusivamente a la venta de repuestos y componentes para computadoras. El objetivo principal de este sitio web es proporcionar a los clientes una experiencia de compra en línea eficiente, segura y conveniente, así como asegurar la disponibilidad de una amplia variedad de repuestos para computadoras de diferentes marcas y modelos.</p>
  </div>
</section>

<style>
  #about-us {
    padding: 2rem;
    background-color: #f8f9fa;
    margin-top: 2rem;
  }

  #about-us .container {
    max-width: 1140px;
    margin: auto;
    padding: 1rem;
  }

  @media (max-width: 768px) {
    #about-us .container {
      padding: 0.5rem;
    }
    #about-us h2 {
      font-size: 1.5rem;
    }
  }
</style>
  {% include "ecom/footer.html" %}
</body>

</html>
